/* TODO: Remove important */
.our-border {
  border: 2px solid #000;
  border-radius: 5px;
  position: relative;
  border: 2px solid #f7931e !important;
}
.our-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #ccc; //TODO: REMOVE BORDEER COLOR
  z-index: 10;
  transform: translate(-5px, -5px);
  pointer-events: none;
}

.our-border--circle,
.our-border--circle:before {
  border-radius: 50%;
}

.banner_about-us {
  background-image: url("../assets/img/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
}
/* Oclusion */
.banner_about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
}
@media (min-width: 768px) {
  .banner_about-us {
    height: 70vh;
  }
}

.text-hightlight {
  color: var(--color-text);
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
}
.our-title {
  font-size: 2rem;
}
.our-text {
  font-size: 1rem;
  text-align: justify;
}
@media (min-width: 768px) {
  .text-hightlight {
    font-size: 2rem;
  }
  .our-title {
    font-size: 2.5rem;
  }
  .our-text {
    font-size: 1.4rem;
    text-align: left;
  }
}


/* TODO: REVIEW */
#textest {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
#cuadro1 {
  font-size: 4rem;
  position: relative;
  left: 10px;
  top: 18px;
  color: #f7931e;
}
#cuadro2 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  -webkit-text-stroke: 1.8px rgb(0, 0, 0);
  color: transparent;
  position: relative;
  left: 10px;
  top: -40px;
  z-index: 1;
}
#cuadro3 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  position: relative;
  left: 10px;
  top: -100px;
  color: #f7931e;
}

.colores {
  font-size: 20px;
  padding: 10px;
  text-size-adjust: 20px;
  background-color: #f7931e;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-block-end: 2rem;
  border-color: #000000;
  border-radius: 0.7rem;
}
