@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "navbar.css";
@import "button.css";
@import "custom.css";
@import "font-styled.css";
@import "input.css";
@import "utils.css";

:root {
  --color-primary: #ed1c24;
  --color-primary-soft: #e7adac;
  --color-secondary: #e5881c;
  --color-secondary-soft: #f2c591;
  --color-tertiary: #866fec;
  --color-tertiary-soft: #d2c9f8;

  --color-home: #ffc198;
  --color-products: #ffc6ad;
  --color-editor: #fdd9ae;
  --color-about-us: #acb2e7;
  --color-login: #a2b864;
  --color-contact: #fdab60;
  --color-register: #bde1ec;
  --color-text: #000000;
  --color-background: #ffffff;
}

body {
  background-image: url("/assets/img/PLACEFOND/BG.jpg");
  color: #eee;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TODO: Recolocar en respectivo archivo */
.banner {
  background-image: url(/assets/banner/banner-manga-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
}
/* Create blur opacity in banner */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
}
