 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 /* about us inicio */
:root {
  --color-home: #ffc198;
  --color-products: #FFC6AD;
  --color-editor: #FDD9AE;
  --color-about-us: #ACB2E7;
  --color-login: #A2B864;
  --color-contact: #FDAB60;
  --color-register: #BDE1EC;
  --color-text: #000000;
  --color-background: #FFFFFF;
}

.font-size-xl {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .font-size-xl {
    font-size: 3.5rem;
  }
}

.container-width {
  width: 95%;
  max-width: 480px;
  padding: 2rem 3rem;
  margin: 0 auto;
}

body {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
}

.elementos {
    border: 1px solid;
    width: 350px;
    height: 350px;
}

.HOTSALE {
  font-family : Bebas;
  color : #ED1C24;
  color : rgb(237, 28, 36);
  text-outline : #000000;
  text-outline : rgb(0, 0, 0);
}

h1,h2{
  font-family: 'Bebas Neue', cursive;
}

.nav .nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}
.nav .nav-link:hover {
  background-color: var(--color-background);
  filter: brightness(1);
}

.about-us {
  background-color: var(--color-about-us);
}
.contactanos {
  background-color: var(--color-contact);
}
.productos {
  background-color: var(--color-products);
}
.home {
  background-color: var(--color-home);
}
.editor {
  background-color: var(--color-editor);
}
.login {
  background-color: var(--color-login);
}
.producto {
  background-color: var(--color-products);
}

.nav.about-us .nav-link:hover {
  color: var(--color-about-us);
}
.nav.contactanos .nav-link:hover {
  color: var(--color-contact);
}
.nav.productos .nav-link:hover {
  color: var(--color-products);
}
.nav.home .nav-link:hover {
  color: var(--color-home);
}
.nav.editor .nav-link:hover {
  color: var(--color-editor);
}
.nav.login .nav-link:hover {
  color: var(--color-login);
}
.nav.producto .nav-link:hover {
  color: var(--color-products);
}


.nav.icons{
  color: #ACB2E7;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;

}
.nav.iconsProd{
  color: #FFC5AD;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;

}

.our-border {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}
.our-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #F7931E;
  border-radius: 5px;
  z-index: 10;
  transform: translate(5px, 5px);
}

.our-border--circle {
  border-radius: 50%;
}
.our-border--circle:before {
  border-radius: 50%;
}


.text-styled {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  position: relative;
  background: transparent;
  z-index: 0;
  color:white;
  font-size: 16rem;
  line-height: .8;
  letter-spacing: .04em;
}
@media (max-width: 768px) {
  .text-styled {
    font-size: 8rem;
  }
}
.text-styled::before {
  content: attr(title);
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  z-index: 10;
}

.word-break {
  word-break: break-word;
  word-spacing: 99999px;
}

.banner_about-us {
  background-image: url('../assets/img/banner-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
}

@media (min-width: 768px) {
  .banner_about-us {
    height: 70vh;
  }
}

.text-hightlight {
  color: var(--color-text);
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  letter-spacing: .04em;
}
.our-title { 
  font-size: 2rem;
}
.our-text {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .text-hightlight {
    font-size: 2rem;
  }
  .our-title {
    font-size: 2.5rem;
  }
  .our-text {
    font-size: 1.4rem;
  }
}

.w-90{
  width: 90%;
}

/* about us fin */

/* inicio estilo pagina Contáctanos */

#nav-contactanos {
  background-color: var(--color-contact);
}

#nav-contactanos .nav-link:hover {
  color: var(--color-contact);
}

.inputs {
  border-top: 0;
  border-left: 0;
  border-color: var(--color-contact);
  border-width: 0.15rem;
  margin: 0.5rem;
  padding: 0.3rem;
  width: 100%;
}

#containerFormularioContacto {
  color: var(--color-text);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* .pContactanos {
  font-family: 'Bebas Neue', cursive;
  color: var(--color-contact);
  font-size: 5rem;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--color-text);
} */
.pContactanos{
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  background: transparent;
  z-index: 0;
  color:var(--color-contact);
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.7rem;
}

.pContactanos:before {
  content: attr(title);
  position: absolute;
  top: 0.4rem;
  left: 2.2rem;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  
  z-index: 10;
}

.hotsale {
  font-family: 'Bebas Neue', cursive;
  color: #ED1C24;;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--color-text);
}

@media (min-width: 768px) {
  .hotsale {
    font-size: 5rem;
  }
}

#botonContactanos {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  --bs-btn-color: var(--color-text);
  --bs-btn-bg: var(--color-contact);
  --bs-btn-border-color: var(--color-text);
  --bs-btn-border-radius: 2rem;
  --bs-btn-hover-color: var(--color-contact);
  --bs-btn-hover-bg: var(--color-text);
  --bs-btn-hover-border-color: var(--color-text);
  --bs-btn-padding-x: 3.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-border-width: 0.15rem;
}

/* fin estilo pagina Contáctanos */

/*Inicio página Editor */
#textest{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
#cuadro1 {
  font-size: 4rem;
  position: relative; left: 10px; top:18px;
  color: #F7931E
  
}
#cuadro2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  -webkit-text-stroke: 1.8px rgb(0, 0, 0);
  color: transparent;
  position: relative; left: 10px; top:-40px; z-index: 1
}
#cuadro3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  position: relative;  left: 10px; top: -100px;
  color: #F7931E
}
.input {
  border-top: 0;
  border-left: 0;
  border-color: #FDAB60;
  border-width: 0.15rem;
  margin: 0.5rem;
  padding: 3rem;
  width: 100%;
}
.colores {
  font-size: 20px;
  padding: 10px;
  text-size-adjust: 20px;
  background-color:#F7931E;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-block-end: 2rem;
  border-color: #000000;
  border-radius: 0.7rem;
}
