@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import 'navbar.css';
@import 'button.css';
@import 'custom.css';
@import 'input.css';
@import 'utils.css';


:root {
  --color-home: #ffc198;
  --color-products: #ffc6ad;
  --color-editor: #fdd9ae;
  --color-about-us: #acb2e7;
  --color-login: #a2b864;
  --color-contact: #fdab60;
  --color-register: #bde1ec;
  --color-text: #000000;
  --color-background: #ffffff;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

h1, h2 {
  font-family: "Bebas Neue", cursive;
}


