/* TODO: Establecer un color definitivo */
.nav,
.footer {
  background: #333;
}

.nav.icons {
  color: #acb2e7;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}
.nav.iconsProd {
  color: #ffc5ad;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

.nav .nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}
.nav .nav-link:hover {
  background-color: var(--color-background);
  filter: brightness(1);
  color: #333;
}