.w-90 {
  width: 90%;
}

.container-width {
  width: 95%;
  max-width: 480px;
  padding: 2rem 3rem;
  margin: 0 auto;
}

.font-size-xl {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .font-size-xl {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .hotsale {
    font-size: 5rem;
  }
}
