.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-min-content {
  width: min-content;
}

@media (min-width: 576px) {
  .bg-opacity-sm-none {
    --bs-bg-opacity: 0
  }
}

.w-max-lg {
  max-width: 1000px;
}

.filter-invert {
  filter: invert(1);
}

.container-width {
  width: 95%;
  max-width: 480px;
  padding: 2rem 3rem;
  margin: 0 auto;
}

/* TODO: Establecer medidas definitivas */
.font-size-md { font-size: 3rem }
.font-size-lg { font-size: 4rem}
.font-size-xl { font-size: 8rem }
@media (min-width: 576px) {
  .font-size-md { font-size: 3.2rem }
  .font-size-lg { font-size: 4.8rem }
  .font-size-xl { font-size: 8.8rem }
}
@media (min-width: 992px) {
  .font-size-md { font-size: 3.6rem }
  .font-size-lg { font-size: 6.4rem }
  .font-size-xl { font-size: 11rem }
}


@media (min-width: 768px) {
  .hotsale {
    font-size: 5rem;
  }
}

.word-break {
  word-break: break-word;
  word-spacing: 99999px;
}
