@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* about us inicio */
:root {
  --color-home: #E7ACAC;
  --color-products: #FFC6AD;
  --color-editor: #FDD9AE;
  --color-about-us: #ACB2E7;
  --color-login: #A2B864;
  --color-contact: #FDAB60;
  --color-register: #BDE1EC;
  --color-text: #000000;
  --color-background: #FFFFFF;
}

.our-border {
  border: #F7931E;
}

.container-width {
  width: 95%;
  max-width: 480px;
  padding: 2rem 3rem;
  margin: 0 auto;
}

body {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.text-hightlight {
  color: var(--color-text);
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.about-us-info p {
  font-size: 1rem;
  text-align: justify;
}
.about-us-info h2 {
  font-size: 2rem;
}

@media (min-width: 768px) { 
  .about-us-info p {
    font-size: 1.2rem;
    text-align: left;
  }
}


/*
.textocontorno {
    font-size : 119px;
    line-height : 33.3px;
    outline : #000000;
    outline : rgb(0, 0, 0);
 }

.textorosa {
    font-size : 119px;
    line-height : 33.3px;
    color : #E7ADAC;
    color : rgb(231, 173, 172);
  }

.textonaranjacontornonegro
  {
    font-family : Bebas;
    font-size : 46px;
    line-height : 12.91px;
    color : #F7931E;
    color : rgb(247, 147, 30);
    outline : #000000;
    outline : rgb(0, 0, 0);
  } */

h1, h2{
  font-family: 'Bebas Neue', cursive;
}

.nav.about-us {
  background-color: var(--color-about-us);
}
.nav.contactanos {
  background-color: var(--color-contact);
}
.nav.productos {
  background-color: var(--color-products);
}
.nav.home {
  background-color: var(--color-home);
}
.nav.login {
  background-color: var(--color-login);
}

.nav .nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}
.nav .nav-link:hover,
.nav .nav-link--active {
  background-color: var(--color-background);
  filter: brightness(1);
}

.nav.about-us .nav-link:hover{
  color: var(--color-about-us);
}
.nav.home .nav-link:hover{
  color: var(--color-home);
}
.nav.contactanos .nav-link:hover{
  color: var(--color-contact);
}
.nav.productos .nav-link:hover{
  color: var(--color-products);
}

.nav.icons {
  color: #ACB2E7;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}

.word-break {
  word-break: break-word;
  word-spacing: 99999px;
}


.text-styled {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  position: relative;
  background: transparent;
  z-index: 0;
  color:white;
  font-size: 16rem;
  line-height: .8;
  letter-spacing: .04em;
}
@media (max-width: 768px) {
  .text-styled {
    font-size: 8rem;
  }
}
.text-styled::before {
  content: attr(title);
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  
  z-index: 10;
}

.w-90{
  width: 90%;
}

.font-size--large {
  font-size: 10rem;
  line-height: 1.2;
}

.banner_about-us {
  background-image: url('../assets/img/banner-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}
.nav.iconsProd{
  color: #FFC5AD;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;

}

.our-border {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.our-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #F7931E;
  border-radius: 5px;
  z-index: 10;
  transform: translate(5px, 5px);
}

.our-border--circle {
  border-radius: 50%;
}

.our-border--circle:before {
  border-radius: 50%;
}

/* about us fin */

/* inicio estilo pagina Contáctanos */

#nav-contactanos {
  background-color: var(--color-contact);
}

#nav-contactanos .nav-link:hover {
  color: var(--color-contact);
}

.inputs {
  border-top: 0;
  border-left: 0;
  border-color: #FDAB60;
  border-width: 0.15rem;
  margin: 0.5rem;
  padding: 0.3rem;
  width: 100%;
}

#containerFormularioContacto {
  color: var(--color-text);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.pContactanos {
  font-family: 'Bebas Neue', cursive;
  color: var(--color-contact);
  font-size: 5rem;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--color-text);
}

#botonContactanos {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  --bs-btn-color: var(--color-text);
  --bs-btn-bg: var(--color-contact);
  --bs-btn-border-color: var(--color-text);
  --bs-btn-border-radius: 2rem;
  --bs-btn-hover-color: var(--color-contact);
  --bs-btn-hover-bg: var(--color-text);
  --bs-btn-hover-border-color: var(--color-text);
  --bs-btn-padding-x: 3.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-border-width: 0.15rem;
}

/* fin estilo pagina Contáctanos */
