 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color-home: #E7ACAC;
  --color-products: #FFC6AD;
  --color-editor: #FDD9AE;
  --color-about-us: #ACB2E7;
  --color-login: #A2B864;
  --color-contact: #FDAB60;
  --color-register: #BDE1EC;
  --color-text: #000000;
  --color-background: #FFFFFF;
}

body {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
}

.text-hightlight {
  color: var(--color-text);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/*
.textocontorno {
    font-size : 119px;
    line-height : 33.3px;
    outline : #000000;
    outline : rgb(0, 0, 0);
 }

.textorosa {
    font-size : 119px;
    line-height : 33.3px;
    color : #E7ADAC;
    color : rgb(231, 173, 172);
  }

.textonaranjacontornonegro
  {
    font-family : Bebas;
    font-size : 46px;
    line-height : 12.91px;
    color : #F7931E;
    color : rgb(247, 147, 30);
    outline : #000000;
    outline : rgb(0, 0, 0);
  }
*/

h1,h2{
  font-family: 'Bebas Neue', cursive;
}

.nav.about-us {
  background-color: var(--color-about-us);
}

.nav .nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}
.nav .nav-link:hover {
  background-color: var(--color-background);
  filter: brightness(1);
}
.nav.about-us .nav-link:hover {
  color: var(--color-about-us);
}

.nav.icons{
  color: #ACB2E7;
  background-color: azure;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;

}

#nav-contactanos {
  background-color: var(--color-contact);
}

#nav-contactanos .nav-link:hover {
  color: var(--color-contact);
}